.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

.card {
  box-shadow: 0px 5px 30px rgba(158, 1, 1, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 0px 10px rgba(2, 0, 2, 0.7);
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.candidate-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.candidate-card {
  width: 300px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.icon {
  font-size: 34px;
  margin-right: 10px;
  vertical-align: middle;
}

.card-title{
  font-size: 32px;
}
.candidate-info h2 {
  font-size: 32px;
  margin: 0;
  color: #333;
}

.candidate-info p {
  font-size: 14px;
  margin: 5px 0;
}

.loading-message {
  font-size: 16px;
  color: #999;
}

.status-Applied {
  background-color: #ffc107;
}

.status-Accepted {
  background-color: #28a745;
}

.status-Rejected {
  background-color: #dc3545;
}


.custom-icon {
  width: 18px;
  height: 18px;
  margin-right: 5px; 
  vertical-align: middle; 
}

h1 {
  font-size: 40px;
  color: #000000; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  margin-bottom: 20px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  background-color: rgba(255, 255, 255, 0.9); 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.loading-message {
  font-size: 16px;
  color: #999;
}

.made-by {
  font-size: 14px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
